<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}

        link(rel="stylesheet", href="/assets/style.css")
        link(rel="stylesheet", href="/components/header/css/header.css")
        block styles

        script(src="/components/header/js/header.js", defer)
        block scripts
    body
        include ./header/header
        block content
        include ./footer/footer
