:root {
  // text and bg
  --color-bg: #fff;
  --color-text: #000;
  --color-heading: var(--color-text);

  // permalink
  --permalink-color: var(--color-text);
  --permalink-color-hover: var(--color-primary);

  // color vars
  --color-primary: theme("colors.primary");
  --color-white: #fff;
  --color-gray: rgba(210, 210, 210, 0.2);

  --color-error: #f03e3e;
  --color-success: #37b24d;
  --color-warning: #fcc419;

  --placeholder-color: #adb5bd;

  /* font sizes */
  --size-28: 2.8rem;
  --size-24: 2.4rem;
  --size-20: 2rem;
  --size-16: 1.6rem;
  --size-14: 1.4rem;

  /* Relative font sizes */
  --size-body: var(--size-16);
  --size-h1: var(--size-28);
  --size-h2: var(--size-24);
  --size-h3: var(--size-20);
  --size-h4: var(--size-16);
  --size-h5: var(--size-16);
  --size-h6: var(--size-16);

  /* Fonts */
  --font-primary: theme("fontFamily.primary");
  --font-secondary: theme("fontFamily.secondary");

  /* Container */
  --100vw: 100vw;
  --container: 130rem;
  --gap-container: 4rem;
  --gap-side: max(
    var(--gap-container),
    calc((var(--100vw) - var(--container)) * 0.5)
  );

  /* header height */
  --header-height: 12rem;
}

@include responsive("touches-device") {
  :root {
    --header-height: 8rem;
  }
}
